* {
    margin: 0;
    padding: 0;
}
#head {
    background-color: black;
    text-align: center;
    color: white;
    line-height: 4rem;
}
img {
    height : 150px;
    width: 150px;
    background-size: cover;
}

.user-choice {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 1.5rem;
    
}

.choice {
    margin: 2rem;
    border: 5px solid black;
    border-radius: 10px;

}
.choice:hover {
    opacity: 0.5;
    cursor: pointer;   
}
.score-board {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.score {
    margin: 2rem;
}
#user-score, #comp-score {
    font-size: 4rem;
    margin: 0 4rem;
}
.move {
    display: flex;
    justify-content: center;
    text-align: center;
}
#msg {
    display: inline;
    background-color: black;
    color: white;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem;
}
